<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<script src="C:\Users\ROHAN\Desktop\angulartodolist\Scripts\angular.min.js"> 
    
    
</script>
<body ng-app="MyApp"ng-controller="todo">
    
            
    <h2>TO DO LIST</h2><br />
    <input ng-model="todoInput" type="text"  id="data" />
    <input type="button" value="ADD" ng-click="todoAdd()" id="add" />
        
 <div ng-repeat="x in todoList">
            <input type="checkbox" ng-model="x.done" ng-show="myValue" /><span ng-bind="x.todoText"></span>

 </div>
  
<script>
    var MyApp = angular.module('MyApp', []);
    MyApp.controller('todo', function ($scope) {
        $scope.todoList = [];
        $scope.todoAdd = function () {
            if ($scope.todoInput != "") {
                $scope.todoList.push({ todoText: $scope.todoInput, done: false });
                $scope.todoInput = "";
                $scope.myValue = true;
            }
        };
    });

</script>
</body>
</html>